.main__left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main__right {
    height:100vh;
    float:right;
    width:100%;
}

.main__videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.main__controls {
    background-color: #1C1E20;
}

.main__right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}


.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    color: #F5F5F5;
    background-color: #4d4d4d;
    height:15%;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    /* padding-right: calc(var(--bs-gutter-x)/ 2); */
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
/*slidebar input*/
input[type=range] {
    -webkit-appearance: none;
    background-color: rgb(207, 203, 203);
    width: 185px;
    height:20px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
   background-color: #666;
   opacity: 0.5;
   width: 10px;
   height: 26px;
}

/*sidebar dropdown*/
.btn-group-vertical button:hover{background-color: rgb(183, 237, 255);}
.dropdown-menu button:hover {background-color: rgb(236, 233, 233);}
.side-drop:hover .dropdown-menu {display: block;}
.side-drop:hover .dropbtn{background-color: rgb(183, 237, 255);}

.active
{
    background-color: yellow;
}